{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Royal Cervejas</title>
</head>
<body>          

            <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
              <div class="container flex flex-wrap items-center justify-between mx-auto">
                    <img class="h-6 mr-3 sm:h-9" src="{% static 'images/k.png' %}">
                <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                  <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                      <a href="/" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-yellow-500 md:p-0 dark:text-white" aria-current="page">Home</a>
                    </li>
                    <li>
                      <a href="http://127.0.0.1:8000/about" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Sobre</a>
                    </li>
                    <li>
                      <a href="http://127.0.0.1:8000/products" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Produtos</a>
                    </li>
                    <li>
                      <a href="http://127.0.0.1:8000/contact" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contato</a>
                    </li>
                    <li>
                      <a href="http://127.0.0.1:8000/login" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Login/Cadastro</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>

        <div class="container my-24 px-6 mx-auto">

          <section class="mb-32">
                    <div class="flex flex-wrap">
                      <div class="grow-0 shrink-0 basis-auto w-full lg:w-5/12 mb-12 lg:mb-0">
                        <div class="flex lg:py-12">
                          <img src="{% static 'images/contact.jpg' %}" class="w-full rounded-lg shadow-lg"
                            id="cta-img-nml-50" style="z-index: 10" alt="" />
                        </div>
                      </div>

                      <div class="grow-0 shrink-0 basis-auto w-full lg:w-7/12">
                        <div
                          class="bg-yellow-500 h-full rounded-lg p-6 lg:pl-12 text-white flex items-center text-center lg:text-left">
                          <div class="lg:pl-12">
                            <h2 class="text-3xl font-bold mb-6"> Nos estamos aqui para te ouvir! </h2>
                            <p class="mb-6 pb-2 lg:pb-0">
                             As vezes sua aventura precisa de direcionamentos (talvez um mapa) entre em contato conosco caso tenha alguma dúvida!
                            </p>
                            <p>
                              <p>Celular: (21)97397-3636</p> 
                              <p>Celular: (21)9785-45287</p> 
                              <p>email: atendimento@royalcervejas.com</p>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>

            <footer class="bg-gray-200 text-center lg:text-left">
                <div class="text-gray-700 text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
                  © 2022 Made By
                  <a class="text-gray-800" href="https://github.com/akathigs">akathigs</a>
                </div>
              </footer>
              
  </body>
  </html>